Exercice 1:

In [2]:
print("Bonjour le monde")

Bonjour le monde

Exercice 2 :

In [6]:
a = int(input("Entrer votre année de naissance"))
print("votre age est : ", 2024-a)

Entrer votre année de naissance1999
votre age est :  25

Exercice 3 :

In [12]:
a = int(input("veuillez saisir un nombre "))
if (a%2)==0 :
  print("le nombre est pair")
if (a%2 != 0) :
  print("le nombre ", a , "est impair")

veuillez introduire un nombre 0
le nombre est pair

Exercice 4 :

In [28]:
n= int( input("veuillez saisir un nombre"))
somme =0
for i in range (1,n+1) :
  somme=somme+i
print("la somme est", somme)

veuillez saisir un nombre5
la somme est 15

Exercice 5 :

In [31]:
for i in range (1, 11) :
  for j in range (0, 11):
    print(i, "x",j,"=", i*j)
  print("\n")

1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10


2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90


10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Exercice 6 :

In [8]:
nombres = []

for i in range (5) :
  nombre=float(input(f"veuillez saisir le nombre {i+1} :"))
  nombres.append(nombre)
print("les nombres sont :" ,nombres)
print("le plus grand nombre est : ", max(nombres))

veuillez saisir le nombre 1 :4
veuillez saisir le nombre 2 :8
veuillez saisir le nombre 3 :9.6
veuillez saisir le nombre 4 :9
veuillez saisir le nombre 5 :0.66
les nombres sont : [4.0, 8.0, 9.6, 9.0, 0.66]
le plus grand nombre est :  9.6

Exercice 7 :

In [12]:

phrase = input(f"saisissez la phrase :")
voyelles = "aeuiyoAEUIYO"
compteur=0
for caractere in phrase :
  if caractere in voyelles :
    compteur+=1
print(f"nombre de voyelles dans la phrase est : {compteur}")

saisissez la phrase :je suis ratiba
nombre de voyelles dans la phrase est : 6

Exercice 8 :

In [16]:
chaine = input(f"saisissez une chaine :")
chaine_inverse = chaine[::-1]
print("la chaine inversée est :",chaine_inverse)

saisissez une chaine :bonjour
la chaine inversée est : ruojnob

Exercice 9 :

In [19]:
chaine = input(f"saisissez une chaine :")
chaine_inverse = chaine[::-1]
if chaine == chaine_inverse :
  print("c'est un palindrome")
else :
  print("ce n'est pas un palindrome")

saisissez une chaine :anna
c'est un palindrome

Exercice 10 :

In [23]:
def factorielle (n):
  if n == 0 or n==1 :
    return 1
  else :
    return n*factorielle(n-1)
nbr=int(input("saisissez un nombre : "))
resultat = factorielle(nbr)
print(f"la factorielle du nobre {nbr} est :", resultat)

saisissez un nombre : 3
la factorielle du nobre 3 est : 6